<br>
<section id="login" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_login">
          <div class="card">
            <div class="card-body text-center">

              <form #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">

                <h1 id="login" class="h3 mb-3 font-weight-normal">Login</h1>

                <!-- #region Mensaje de error -->
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                  Ocurrio un error!
                  {{mensajeError}}
                </div>
                <!-- #endregion -->

                <!-- #region  -->
                <div class="form-group">
                  <input type="email" id="email" name="email" class="form-control" placeholder="Email"
                    [(ngModel)]="this.email" required>
                </div>
                <!-- #endregion -->

                <!-- #region Password -->
                <div class="form-group">
                  <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                    [(ngModel)]="this.password" required>
                </div>
                <!-- #endregion -->

                <button type="submit" class="btn btn-lg btn-primary btn-block">Entrar</button>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
