<br>
<section id="register" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_register">
          <div class="card">
            <div class="card-body text-center">

              <!-- #region Formulario -->
              <form #formRegister="ngForm" (ngSubmit)="crear()">

                <h1 class="h3 mb-3 font-weight-normal">Alta</h1>

                <!-- #region Mensaje de error -->
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                  {{msgError}}
                </div>
                <!-- #endregion -->

                <!-- #region Email -->

                <div class="form-group">
                  <input type="email" id="email" name="email" class="form-control" placeholder="Email" required
                    minlength="8" [(ngModel)]="this.email" #Email="ngModel">
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="Email.touched && !Email.valid">
                  <div *ngIf="Email?.errors.required">Ingrese un mail</div>
                  <div *ngIf="Email?.errors.minlength">La direccion debe tener al menos 8 caracteres</div>
                </div>

                <!-- #endregion -->

                <!-- #region Contraseña -->
                <div class="form-group">
                  <input type="password" name="password" class="form-control" placeholder="Password"
                    [(ngModel)]="this.password" required minlength="5" maxlength="10" #Password="ngModel">
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="Password.touched && !Password.valid">
                  <div *ngIf="Password?.errors.required">Ingrese una password</div>
                  <div *ngIf="Password?.errors.minlength">La password debe tener al menos 5 caracteres</div>
                </div>
                <!-- #endregion -->

                <!-- #region Tipo de usuario -->
                <div class="form-group">
                  <label for="TipoUsuario">Tipo de usuario</label>
                  <select name="TipoUsuario" class="form-control">
                    <option value="administrador">Administrador</option>
                    <option value="cliente">Cliente</option>
                  </select>
                </div>
                <!-- #endregion -->

                <br>

                <!-- #region Boton -->
                <!-- <button *ngIf="ngFrom.value" | async; else btnDisabled" type="submit"
                      class="btn btn-lg btn-primary btn-block">Register</button> -->

                <button type="submit" class="btn btn-lg btn-primary btn-block">Crear</button>


                <ng-template #btnDisabled>
                  <button type="submit" disabled=true class="btn btn-lg btn-secondary btn-block">Register</button>
                </ng-template>
                <!-- #endregion -->

              </form>
              <!-- #endregion -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
